.container-box {
  width: 350px;
  height: 350px;
  border: 2px solid rgb(8, 2, 88);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: row wrap;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  line-height: 100px;
  margin: auto;
}

.grey {
    background-color:rgb(34, 33, 33);
}
.lightgrey {
    background-color:darkgrey
}
/* .blue {
  background-color: royalblue;
}

.lightblue {
  background-color: rgb(0, 153, 255);
} */